.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.text-container img{
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 4px rgba(1, 221, 66, 0.5);
}

.text-container h1{
    width: 50%;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}
.text-container p{
    font-size: 17px;

}