.footer {
  display: flex;
  width: 100%;
  max-width: 680px;
  height: 40px;
}

.footer__link {
  display: flex;
  background-color: #E1E1E1;
  color: black;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  padding: 30px;
}
.footer__link.active {
  background-color: #00CE3D;
  color: white;
}
