.productDisplay__container {
 
  width: 680px;
  margin-bottom: 80px; 
  margin-top:50px;
}

.button__container {
  padding: 10px;
}

.productDisplay__title {
  font-size:30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.productDisplay__titleContainer {
  display: flex;
  gap: 44px;
}

.productDisplay__textContainer {
  margin-left: 15px;
  display: flex;
  flex-direction: column;

  gap:5px;
}

.productDisplay__thumbContainer {
  
  width: 250px; /* Set width of container */
  height: 250px; /* Set height of container */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: start; /* Center vertically */
  overflow: hidden; /* Hide overflow content */

}

.productDisplay__thumbContainer img{
  width: 100%; /* Ensure image fills container */
  height: 100%; /* Ensure image fills container */
  object-fit: cover; /* Cover the entire container with the image */
}

.productInfoText {
  font-size: 17px;
}

.productDisplay__section {
 width: 100%;
 padding: 25px 33px;
 border: 1px solid rgb(203, 203, 203);
}



.productDisplay__sectionTitle {
  font-size:18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.productDisplay__list--item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productDisplay__list--label {
  text-transform: capitalize;
}

.productDisplay__list--label:after {
  content: ':';
}

.productDisplay__list--value {
  margin-left: 5px;
}

.productDisplay__list--value.high {
  color: #ff6347;
}

.productDisplay__list--value.moderate {
  color: #ffa500;
}

.productDisplay__list--value.low {
  color: #3cb371;
}

.productDisplay__scores {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.layout{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.productinfo{
  display: flex;
  flex-direction: column;
  gap: 20px;
}